venv*
repo*
cache
tree
*.tar
*.oci-archive
*.json
tmp
.env
*_oci
*_oci*
auth.json
comp
ref
old
*.egg-info
__pycache__
*.ls
contentmeta.json
oci_*
*layerdata.txt
layerdata.txt
results.txt
upload_all.sh
make_images.sh
notebooks/*
build/*