name: Publish rechunk to GHCR

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "The version to tag the package with:"
        required: true

  release:
    types: [published]

permissions:
  contents: read

jobs:
  deploy_ghcr:
    permissions:
      # contents: write
      packages: write

    runs-on: ubuntu-24.04
    environment: prod

    steps:
      - name: Login to GHCR
        run: echo "${{ secrets.GITHUB_TOKEN }}" | sudo podman login ghcr.io -u ${{ github.actor }} --password-stdin

      - uses: actions/checkout@v4

      - name: Setup QEMU
        run: |
          sudo apt-get update
          sudo apt-get install -y qemu-user-static

      - name: Build Image
        run: |
          sudo podman build \
            --tag 'fedora_build' \
            --platform 'linux/amd64,linux/arm64' \
            .

      - name: Upload Image
        id: upload
        shell: bash
        run: |
          if [[ -n "${{ github.event.inputs.tag }}" ]]; then
            VERSION="${{ github.event.inputs.tag }}"
          elif [[ -n "${{ github.event.release.tag_name }}" ]]; then
            VERSION="${{ github.event.release.tag_name }}"
          else
            echo "No version tag provided"
            exit 1
          fi

          sudo podman tag fedora_build ghcr.io/hhd-dev/rechunk:latest
          sudo podman push ghcr.io/hhd-dev/rechunk:latest
          sudo podman tag fedora_build ghcr.io/hhd-dev/rechunk:stable
          sudo podman push ghcr.io/hhd-dev/rechunk:stable
          sudo podman tag fedora_build ghcr.io/hhd-dev/rechunk:$VERSION
          sudo podman push ghcr.io/hhd-dev/rechunk:$VERSION
